.signUp {
  background-image: url("./pages/signup/bg-image.jpg");
  background-repeat: no-repeat;
}
.form-card {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 20px 0px;
  .category {
    margin-bottom: 20px;
    color: #f99d14;
  }
}

// .signup-submit {
//   background-color: #f99d14;
//   padding: 4px 20px;
//   color: #ffffff;
//   border-radius: 16px;
// }
